from dataclasses import dataclass
from datetime import timedelta

from wirectl import Parameters
from wirectl.types import (
    Array8,
    Array64,
    Array1024,
    f32,
    f64,
    s8,
    s16,
    s32,
    s64,
    u8,
    u16,
    u32,
    u64,
)

{% for parameter in icd.parameters %}
@dataclass
class {{ parameter.name }}(Parameters):
    """
    {% if parameter.description %}
    {{ parameter.description }}

    {% endif %}
    Args:
        {% for field in parameter.fields %}
        {% if field.description %}
        {{ field.name }}: {{ field.description }}
        {% endif %}
        {% endfor %}
    """

    ID = {{ parameter.id }}
    {% if parameter.communication_timeout_ms %}
    TIMEOUT = timedelta(milliseconds={{ parameter.communication_timeout_ms }})
    {% else %}
    TIMEOUT = timedelta(milliseconds={{ icd.additional_options.default_communication_timeout_ms }})
    {% endif %}

    {% for field in parameter.fields %}
    {{ field.name }}: {{ field.type.__name__ }} = {{ field.reset_value }}
    {% endfor %}

{% endfor %}